body {
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
}

.letter {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: #eee;
}

.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1e2833;
}

.letter:nth-child(1):before {
  content: "5617829304";
  margin-top: -120px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 5.92s;
          animation-duration: 5.92s;
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -120px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -120px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(2):before {
  content: "0179684325";
  margin-top: -30px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 1.95s;
          animation-duration: 1.95s;
  -webkit-animation-delay: 0.61s;
          animation-delay: 0.61s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(3):before {
  content: "7614305892";
  margin-top: -210px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 8.1375s;
          animation-duration: 8.1375s;
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(4):before {
  content: "9580624371";
  margin-top: 0px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter4 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(5):before {
  content: "8420539716";
  margin-top: -210px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 1.8375s;
          animation-duration: 1.8375s;
  -webkit-animation-delay: 0.79s;
          animation-delay: 0.79s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(6):before {
  content: "0839746521";
  margin-top: 0px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter6 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(7):before {
  content: "1729653048";
  margin-top: 0px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter7 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(8):before {
  content: "5943216807";
  margin-top: -150px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 1.58333333s;
          animation-duration: 1.58333333s;
  -webkit-animation-delay: 0.81s;
          animation-delay: 0.81s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(9):before {
  content: "8674105293";
  margin-top: -210px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 7.9625s;
          animation-duration: 7.9625s;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(10):before {
  content: "7291458603";
  margin-top: 0px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.73s;
          animation-delay: 0.73s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter10 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(11):before {
  content: "0219386475";
  margin-top: -30px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 2.05s;
          animation-duration: 2.05s;
  -webkit-animation-delay: 0.59s;
          animation-delay: 0.59s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(12):before {
  content: "1324689705";
  margin-top: -150px;
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-duration: 1.58333333s;
          animation-duration: 1.58333333s;
  -webkit-animation-delay: 0.81s;
          animation-delay: 0.81s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter12 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(13):before {
  content: "0245637891";
  margin-top: -30px;
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter13 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(14):before {
  content: "6574189203";
  margin-top: -240px;
  -webkit-animation-name: letter14;
          animation-name: letter14;
  -webkit-animation-duration: 0.17777778s;
          animation-duration: 0.17777778s;
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter14 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(15):before {
  content: "7653019824";
  margin-top: -210px;
  -webkit-animation-name: letter15;
          animation-name: letter15;
  -webkit-animation-duration: 6.3s;
          animation-duration: 6.3s;
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter15 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(16):before {
  content: "8604193752";
  margin-top: -60px;
  -webkit-animation-name: letter16;
          animation-name: letter16;
  -webkit-animation-duration: 4.93333333s;
          animation-duration: 4.93333333s;
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
  from {
    margin-top: -60px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter16 {
  from {
    margin-top: -60px;
  }

  to {
    margin-top: 30px;
  }
}

