body {
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
}

.letter {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: #eee;
}

.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1e2833;
}

.letter:nth-child(1):before {
  content: "7453186092";
  margin-top: -270px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -270px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -270px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(2):before {
  content: "8379061524";
  margin-top: -90px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -90px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -90px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(3):before {
  content: "9632184057";
  margin-top: -150px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 4.25s;
          animation-duration: 4.25s;
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(4):before {
  content: "8124367059";
  margin-top: -210px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 6.65s;
          animation-duration: 6.65s;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -210px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(5):before {
  content: "5427906813";
  margin-top: -240px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 6.31111111s;
          animation-duration: 6.31111111s;
  -webkit-animation-delay: 0.29s;
          animation-delay: 0.29s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(6):before {
  content: "1635847092";
  margin-top: -240px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 5.24444444s;
          animation-duration: 5.24444444s;
  -webkit-animation-delay: 0.41s;
          animation-delay: 0.41s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(7):before {
  content: "2903874615";
  margin-top: -270px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 8.55s;
          animation-duration: 8.55s;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -270px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -270px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(8):before {
  content: "1290483765";
  margin-top: -150px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 1.91666667s;
          animation-duration: 1.91666667s;
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(9):before {
  content: "0125986374";
  margin-top: -150px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 8.16666667s;
          animation-duration: 8.16666667s;
  -webkit-animation-delay: 0.02s;
          animation-delay: 0.02s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(10):before {
  content: "0258179436";
  margin-top: -180px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 2.65714286s;
          animation-duration: 2.65714286s;
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -180px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -180px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(11):before {
  content: "5247861093";
  margin-top: -150px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 6.08333333s;
          animation-duration: 6.08333333s;
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -150px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(12):before {
  content: "0362189574";
  margin-top: -240px;
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-duration: 0.44444444s;
          animation-duration: 0.44444444s;
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter12 {
  from {
    margin-top: -240px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(13):before {
  content: "0142359876";
  margin-top: 0px;
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter13 {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(14):before {
  content: "8603742591";
  margin-top: -90px;
  -webkit-animation-name: letter14;
          animation-name: letter14;
  -webkit-animation-duration: 3.525s;
          animation-duration: 3.525s;
  -webkit-animation-delay: 0.53s;
          animation-delay: 0.53s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
  from {
    margin-top: -90px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter14 {
  from {
    margin-top: -90px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(15):before {
  content: "6270359184";
  margin-top: -30px;
  -webkit-animation-name: letter15;
          animation-name: letter15;
  -webkit-animation-duration: 3.65s;
          animation-duration: 3.65s;
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter15 {
  from {
    margin-top: -30px;
  }

  to {
    margin-top: 30px;
  }
}

.letter:nth-child(16):before {
  content: "7846012395";
  margin-top: -120px;
  -webkit-animation-name: letter16;
          animation-name: letter16;
  -webkit-animation-duration: 4.48s;
          animation-duration: 4.48s;
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
  from {
    margin-top: -120px;
  }

  to {
    margin-top: 30px;
  }
}

@keyframes letter16 {
  from {
    margin-top: -120px;
  }

  to {
    margin-top: 30px;
  }
}

